@font-face {
    font-family: 'Gilroy-Semibold';
    src: url("../font/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url("../font/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url("../font/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url("../font/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

body {
    background-color: #FFFFFF;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    justify-content: center;
    background: #FFF;

}


.boxes {
    margin-top: 105px;
    margin-bottom: 105px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    gap: 30px;

}

.box {   
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 30px;

}

.box:hover{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);

}


.box_icon {
    margin-bottom: 25px;
}

.box-title {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box_text {
    margin-bottom: 22px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.box_link {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 

}
